.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;
    padding: 8px 12px;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
  }
  .rotate-right{
    transform: rotate(180deg);
  }
  
  .pagination button.active {
    background-color: #00aaff;
    color: white;
  }
  .pagination button.active:hover {
    background-color: #008cff;
  }
  .pagination button:hover {
    background-color: #f2f1f0;
  }

  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  