.ListCard {
    display: flex;
    justify-content: space-between; /* Раздвигаем элементы по краям */
    align-items: center; /* Выравниваем по центру */
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 1020px;
}
.ListCard:hover{
    background-color: #f2f1f0;
}

.left-block{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.left-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 4px;
}
.left-img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.right-button {
    display: flex;
    gap: 10px;
    width: 220px;
    flex-direction: column;
    align-items: flex-end; /* Выравниваем содержимое по правому краю */
    align-self: flex-start;
}

.open {
    background-color: #00aaff;
    border: none;
    border-radius: 10px;
    width: 220px;
    color: white;
    padding: 10px 60px;
    cursor: pointer;
}
.open:hover{
    background-color: #008cff;

}

.info-name-str{
    font-size: 18px;
    cursor: pointer;
}
.info-price-str{
    font-size: 18px;
    font-weight: bold;
}
.info-firma-str{
    font-size: 15px;
}
.info-discr-str{
    font-size: 15px;
    color: #757575;

}
.seller-info{
    font-size: 15px;
    width: 220px;

}
.info-category-str{
    font-size: 15px;
    color: #757575;
}